---
permalink: "/about/"
---
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/site.css">
        <script src="/js/site.js"></script>
        <title>About</title>
    </head>
    <body>
        <header>
                {% include header.html %}
        </header>
        <img src="/images/mike_and_brittany.jpg" width=400px></img>
        <p>We are the Porter family. My wife Brittany has celiac disease and we have been living a gluten-free lifestyle for the past three years. When it comes to gluten-free food, taste doesn't take center stage and it is often expensive. We're on a journey to find and share recipes, flours, and mixes that don't compromise on flavor or texture.</p>
        <footer>
                {% include footer.html %}
        </footer>
    </body>
</html>