---
permalink: "/contact/"
---
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/site.css">
        <script src="/js/site.js"></script>
        <title>Contact</title>
    </head>
    <body>
        <header>
                {% include header.html %}
        </header>
        <p>Follow us on Facebook! https://www.facebook.com/livintheglutenfreelife</p>
        <p>Find us on Instagram! https://www.instagram.com/livin_glutenfree</p>
        <footer>
                {% include footer.html %}
        </footer>
    </body>
</html>