---
---

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/css/site.css">
	<link rel="stylesheet" href="/css/tile.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="/js/site.js"></script>

	<title>Livin' the Gluten-Free Life</title>
	<link rel="icon" type="image/png" href="/images/lgfl_favicon.png">
	{% include ga.html %}
</head>
<body>
	<header>
		{% include header.html %}
	</header>
	<br>
	<br>
	<div class="container">
		{% for post in paginator.posts %}
			{% include tile.html %}
		{% endfor %}

		{% include pagination.html %}
	</div>
	{% include sidebar.html %}
	<footer>
		{% include footer.html %}
	</footer>
</body>
</html>
