---
---

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/css/site.css">
	<link rel="stylesheet" href="/css/tile.css">
	<script src="/js/site.js"></script>
	<title>My Blog</title>
</head>
<body>
	<header>
		{% include header.html %}
	</header>
	<br>
	<br>
	<div class="container">
		{% for post in paginator.posts %}
			{% include tile.html %}
		{% endfor %}

		{% include pagination.html %}
	</div>
	{% include sidebar.html %}
	<footer>
		{% include footer.html %}
	</footer>
</body>
</html>
