<link rel="stylesheet" href="/css/header.css">
<script type="text/javascript" src="/js/instafeed.min.js"></script>
<script src="/js/header.js"></script>
<a href="/"><img class="header-image" src="/images/lgfl_header_full_text.svg"></img></a>
<ul class="topnav" id="myTopnav">
  <li><a href="/">Home</a></li>
  <li><a href="/contact">Contact</a></li>
  <li><a href="/about">About</a></li>
  <li><a href="/search">&#128269;</a></li>
  <li class="icon">
    <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
  </li>
</ul>