<script src="/js/tile.js"></script>

<div class="tile">
        <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
        <aside>
            {{ post.date | date: "%B %-d, %Y" }}
            {% if post.categories != empty %}
                &middot;
                {% for category in post.categories %}
                    <span>{{ category }}</span>
                {% endfor %}
            {% endif %}
        </aside>

    {% if post.featured_image or post.featured_video_id %}
    <div class="preview-area">
        {% if post.featured_image %}
        <img class="preview-image" src='{{ post.featured_image }}' style="margin-left:12.5%;"></img>
        {% endif %}

        {% if post.featured_video_id %}
        <iframe class="preview-video" src="https://www.youtube.com/embed/{{ post.featured_video_id }}" frameborder="0" allowfullscreen style="margin-left: 12.5%;"></iframe>
        {% endif %}
    </div>
    {% endif %}

    <div class="inner-guts">
        <div class="excerpt">{{ post.content | strip_html | truncatewords:50 }}</div>
        <a href="{{ post.url | prepend: site.baseurl }}" class="read-more btn btn-info btn-lg">Read More <i class="fa fa-angle-right"></i></a>
        {% if post.categories != empty %}
        <div class="tags">
            {% for tag in post.tags %}
            <span>{{ tag }}</span>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>