---
---

<!DOCTYPE html>
<html>
<head>
	<meta content="{{ page.title }}" property="og:title"/>
	<meta content="{{ page.description }}" property="og:description"/>
	<meta content="{{ site.url }}{{ page.url }}" property="og:url"/>
	<meta content="website" property="og:type"/>
	{% if page.featured_image %}
		<meta content="{{ site.url }}/{{ page.featured_image }}" property="og:image"/>
	{% else %}
		<meta content = "{{ site.url }}/images/lgfl_square_logo.png" property="og:image"/>
	{% endif %}


	<link rel="stylesheet" href="/css/site.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="/js/getPageView.js"></script>
	<script src="/js/site.js"></script>
	<title>My Blog</title>
	{% seo %}
</head>
<body>

	<div id="fb-root"></div>
	<script>(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=1725337847757626";
		fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>

	<header>
		{% include header.html %}
	</header>
	<div class="container">
		<article>
			<h1><a class="post_title" href="{{ site.base_url }}{{ page.url }}">{{ page.title }}</a></h1>
			<span class="post_info">{{ page.date | date_to_string }}</span>
			<span id=viewCount class="post_info"></span>
			<p>{{ content }}</p>
			<div class="fb-share-button" 
    data-href="{{ site.base_url }}{{ page.url }}" 
    data-layout="button_count">
  			</div>
		</article>
		<br><br>
		<div class="fb-comments" data-href="https://livintheglutenfreelife.github.io{{ page.url }}" data-width="50%" data-numposts="5">
		</div>
		<script>loadViews("{{ page.url }}");</script>
	</div>
	{% include sidebar.html %}
	<footer>
		{% include footer.html %}
	</footer>
</body>
</html>
